.jstree-facet li span.main {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.jstree-container-ul {
  margin-bottom: 0px;
}

.jstree-anchor {
  flex-grow: 1;
}

.js-facet-item {
  flex-grow: 1;
}

/**.collection-hierarchytree {
  .jstree-clicked {
    color: @list-group-active-color;
    background-color: @list-group-active-bg;
    .jstree-icon {
      color: #fff;
    }
  }
} */
