#similar-items-carousel {

  .carousel-inner {
    height: 100%;
    border: 1px solid @btn-default-border;
    border-radius: 5px;
    padding-bottom: 25px;
  }
  .carousel-indicators {
    bottom: -5px;
  }
  .hover-overlay .content {
      background-color: rgba(119, 165, 227, 0.2);
      .contentDarker {
        background-color: rgba(250, 250, 250, 0.9);
        color: @brand-primary;
        padding: 15px;
        text-align: left;
      }
  }
  .hover-overlay {
      padding-top: 12px;
      padding-left: 12px;
      text-align: left;
      &:hover .content {
        background: none;
      }
      &:hover .contentDarker {
        box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.28);
      }
  }
  img[title] {
      font-weight: bold;
  }
}

.tab-content {
    /* Controls */
  .carousel-control {
      width: 6%;
      border-radius: 5px;
      &.left, &.left:focus {
        background-image: linear-gradient(to right, rgba(119, 165, 227, 1) 0%, transparent 100%);
      }
      &.right, &.right:focus {
        background-image: linear-gradient(to right, transparent 0%, rgba(119, 165, 227, 1) 100%);
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
  }
}

.random {
  height: auto;
  width: 100%;
  padding: 10px 0px;
  background-image: none;
  .title {
    font-weight: bold;
    text-align: center;
  }
  #similar-items-carousel {
    height: 350px;
    .item {
      padding: 2em 2em;
    }
    .carousel-item {
      flex-basis: 100%;
      text-align: center;
    }
    .carousel-control {
      background-image: none;
    }
    .imgDescr {
      float: right;
      height: 100%;
      max-width: 320px;
      margin-right: 70px;
    }
  }
}

#logo-carousel {

  .carousel-inner {
    height: 80px;
    width: auto;
    padding-bottom: 25px;
    margin: 0px 30px;
  }
  .carousel-inner .item.left.active {
    transform: translateX(-25%);
  }
  .carousel-inner .item.right.active {
    transform: translateX(25%);
  }
  .carousel-inner .item.next {
    transform: translateX(25%)
  }
  .carousel-inner .item.prev {
    transform: translateX(-25%)
  }

  .carousel-inner .item.right,
  .carousel-inner .item.left {
    transform: translateX(0);
  }

  .carousel-item {
    vertical-align: middle;
    display: table-cell;
    height: 80px;
    width: 225px;
    text-align: center;
  }

  .carousel-control {
      width: 1%;
      text-shadow: 0 3px 2px rgba(0,0,0,0.6);
      &.left, &.left:focus {
        background-image: none;
      }
      &.right, &.right:focus {
        background-image: none;
      }
  }
  .item {
    &.prev,
    &.active,
    &.next { display: block; }

    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    a[target="_blank"]:after {
        content: none;
    }
  }
}
