#similar-items-carousel {

  .carousel-inner {
    height: 100%;
    padding: 0 1.5rem 0.5rem 1.5rem;
    .carousel-item {
      margin: 0 1rem;
      min-width: 250px;
    }
  }
  .carousel-indicators {
    bottom: -3rem;
  }
   /* Controls */
  .carousel-control {
    width: 6%;
    color: @brand-primary;
    background: none;
    &.left, &.right {
      background: none;
    }
    .glyphicon-chevron-right {
      right: 0;
      font-size: 36px;
    }
    .glyphicon-chevron-left {
      left: 0;
      font-size: 36px;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .hover-overlay {
    .contentDarker {
      color: @brand-primary;
      padding: 0.5rem 1.5rem 1rem 1.75rem;
      text-align: left;
    }
    .content {
      background-color: rgba(119, 165, 227, 0.2);
    }
    &:hover .content {
      background: none;
      padding: 0;
    }
    &:hover .contentDarker {
      background-color: rgba(250, 250, 250, 0.9);
    }
    &:hover {
      box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.28);
      background-color: rgba(250, 250, 250, 0.9);
    }
  }
  img[title] {
      font-weight: bold;
  }
}

