# GNU Emacs temporary files
\#*
.\#*
*~
# Vim temporary files
.*.sw[po]

*.log
.php_cs_cache
.phpstan_cache
.vagrant
.vscode/*
/downloads
/Gruntfile.local.js
/solr/vendor
/themes/minktest
/vendor
ChangeLog
/TAGS
data/
composer.phar
env.bat
env.sh
import/solrmarc.log*
lessphp_*.list
module/VuFind/tests/.phpunit*
node_modules
local/
vufind_local_backups/

# Beacon-Files
public/docs/
package-lock.json
public/swagger-ui
tests/phpcs.cache.json
themes/bootstrap5/scss/vendor/bootstrap
local/DirLocations.ini
local/config/vufind/*.ini
local/config/vufind/*.json
local/config/vufind/*.key
local/config/vufind/*.yaml
