/* HEADER */
header .navbar {
  border: 0;

  .navbar-form {
      width: 100%;
      margin-top: 15px;
      padding-left: 0px;
      padding-right: 0px;
  }
}

header .banner.container.navbar {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  ul {
    margin-top: 5px;
  }
  .navbar-brand {
    background: @logo no-repeat scroll left center transparent;
    width: 500px;
    height: 100px;
    margin-top: 1em;
    margin-left: 0.4em;
  }
}

header .banner.container.navbar.search + div.container.navbar.search {
    border-radius: 0px;
    padding-bottom: 20px;
}

/** Searchbar/-box ***/

.well {
    background-color: @lightgrey;
    text-align: left;
    min-width: 240px;
    //box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.28);
    border: 1px solid @btn-default-border;
}

.searchForm  {
    width: 100% !important;
}

#advanced {
  padding-left: 0px;
}

#searchSubmit {
  margin-right: 12px;
}

.searchForm_lookfor {
    min-width: 50%;
    max-width: 100% !important;
    padding: 5px;
    border: 1px solid #cccccc;
    background-color: @white;
}

.twitter-typeahead {
  min-width: 50%;
}

.adv_search_links {
  margin: 0px;
}

/* Tabs */
.tab-content {
  padding: 10px 0px;
}

.feedback-content {
  padding: 10px 15px;
}

/* SEARCH_TABS */
.loader {
  display: none;
}

ul.nav-tabs li:not(.active) a:hover .loader {
    display: inline;
    float: left;
    margin-right: 5px;
    border: 3px solid @lightgrey;
    border-top: 3px solid @brand-primary;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* FOOTER */
.bottom_logos {
    background: @powered-by no-repeat scroll right top transparent;
    height: 100px;
}

footer {
  padding-top: 0px;
  ul {
    padding-left: 0px;
    list-style-type: none;
  }
}

.footer-container {
    padding-left: 15px;
    padding-right: 15px;
    .footer-column {
      padding-left: 10px;
    }
}

/* FACETS */
.fa-info-circle {
  padding-left: 10px;
}

.checkbox-filters {
  display: inline;
  margin-bottom: 9px;
  label input[type="checkbox"] {
    margin-top: 0px;
    margin-bottom: 6px;
    vertical-align: middle;
  }
}

a.facet {
  span.text {
    padding-left: 8px;
    padding-right: 8px;
    word-break: break-all;
  }
}

.facet-group {
  .title {
    border-radius: 5px 5px 0px 0px;
  }
  .collapse {
    border-radius: 0px 0px 5px 5px;
  }
}

.facet-loading-overlay {
  background-color: rgba(0,67,147,1);
}

/* General Layout */

body {
    background: @background-color;
    background-attachment: fixed;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;

    /*
    &.template-name-home:not(.template-dir-showcase) {
      background-image: url("../../images/bw_6.jpg");
      div.container {
        background: none;
      }
    }*/
}

option:hover {
  background-color: #004393;
}

.media-left {
  padding-right: 15px;
}

div.mainbody > div.result:not(.last) {
  .media-left, .media-right, .media-body {
    border-bottom: 1px solid @btn-default-border;
    padding-bottom: 10px;
  }
}

.container {
  background: #fff;
  border-radius: 6px;
}

#content {
  border-radius: 0px;
}

.breadcrumbs .container {
  border-radius: 0px;
}
.breadcrumb {
	background: @background-color;
  margin-top: 0px;
  & > .active {
      color: @black;
    }
}

.facet-group .title {
  background: @background-color;
}

.badge {
    color: @darkgrey;
    font-size: inherit;
    border: 1px solid @darkgrey;
    background-color: @white;
    border-radius: 10px;
}

a.badge-secondary {
  color: @darkgrey;
  border: 1px solid @darkgrey;
  &:hover {
    color: @darkprimary-color;
    text-decoration: underline;
  }
}

.label {
  background-color: @grey;
}

a[target="_blank"]:after {
    font-family: FontAwesome;
    content: "\f08e";
    display: inline-block;
    padding-left: 7px;
}

h3[property="context"] {
  font-style: italic;
}

.highlight,
mark {
  background: @highlighter-color;
  border-radius: 5px;
}

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-color: lightgray;
}

.record-nav {
  float: right;
}

div#accordion .panel-collapse {
  padding: 15px 20px 10px 20px;
  img {
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
  }
}

/* Homepage Layout */
.searchHomeContent {
  overflow: hidden;
  margin-top: 5em;
  margin-bottom: 2em;

  #coop {
    margin: 30px 0px 0px 30px;
  }
  /*#coop {
    margin: 0px 30px;
  }*/
}

#searchAndNews {
  width: 80%;
  margin: auto;

  .well.searchForm {
    margin-bottom: 10px;
  }
  .homeinfo {
     display: flex;
     flex-direction: row;
     max-height: 370px;
     @media (max-width: 767px) {
       flex-wrap: wrap;
     }

    .flex-statistics {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-basis: 50%;
      padding-top: 0px;
      margin-bottom: 0px;
      div {
        #research {
          margin-top: 10px;
        }
        min-width: 140px;
        //box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.28);
      }
    }
  }
}

/* Lightbox Layout */
/*h2.providerbox {
  color: @brand-primary;
}*/

/* Content Layout */
body.template-dir-content {
    #content.container {
      padding: 10px 30px 10px 30px;
    }
}

div#contacts {
  .left {
    float: left;
    padding-right: 50px;
  }
  .right {
    float: left;
    margin-left: 30px;
  }
}

div.card {
  border: 1px solid @btn-default-border;
  padding: 15px 20px 20px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  .table {
    table-layout: auto;
    margin-bottom: 10px;
  }
  .table-striped th {
    width: 25%;
  }
  h2, h3 {
    margin-top: 0px;
  }
}

a[target="_blank"].no-symbol::after {
  display: none;
}

div.flexing {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  .item {
    flex-basis: 49%;
  }
}

div.flex-content {
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
  &.flex-between {
    justify-content: space-between;
  }
  &.flex-start {
    padding-right: 10px;
    justify-content: flex-start;
  }
  .authority-meta {
    flex: 0 1 405px;
    padding: 15px;
    &.thumb {
      max-width: 270px;
      padding: 15px 15px 15px 0px;
    }
    .external-icon img {
      width: 16px;
      margin-right: 0.5em;
    }
    .publications {
      padding-left: 20px;
    }
    h4 {
      margin-top: 0px;
    }
  }
}

/* Detailed Record View */
.mainbody#recordview {
  width: 100%;
  clear: right;
  .media-left {
    width: 30%;
  }
  .media {
    padding: 10px 0px 20px 0px;
  }
  .medium > a {
    width: 100%;
  }
}

/* Toggle MORE/LESS without js */
span.toggleContainer {
  .toggle {
    display:none;
  }
  .toggle ~ span {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
    br {
      display: none;
    }
  }
  .toggle:checked ~ span {
    opacity: 1;
    font-size: inherit;
    max-height: 300px;
    br {
      display: inline;
    }
  }

  .toggle ~ label.label_de:before {
    content: 'Mehr anzeigen';
  }

  .toggle:checked ~ label.label_de:before {
    content: 'Weniger anzeigen';
  }

  .toggle ~ label.label_en:before {
    content: 'Show more';
  }

  .toggle:checked ~ label.label_en:before {
    content: 'Show less';
  }

  label {
    display: inline-block;
    font-size: 80%;
    color: @brand-primary;
    cursor: pointer;
  }
}
.title {
  margin-top: 10px;
}

.form-control {
  padding: 6px;
}

/* Data View */
th.edm-tag, td.edm-tag {
  color: @brand-primary;
}

div.edm-attr {
  color: DarkOrange;
}

div.breaking {
  word-break:break-all;
}

/* TRAILER */
video {
  width: 75% !important;
  height: auto !important;
}

div#trailer-container {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

/* License Frame */
iframe#fid-license-frame {
  width: 100%;
  height: 100%;
  min-height: 700px;
}

/* Maps */
#theatremap {
  height: 700px;
}

/* Showcase */

figure.showcase {
  border: 1px solid @btn-default-border;
  border-radius: 5px;
}

figcaption {
  font-size: 12px;
  text-align: center;
}

.klaro .cookie-modal .cm-list-input:checked + .cm-list-label .slider,
.klaro .context-notice .cm-list-input:checked + .cm-list-label .slider,
.klaro .cookie-notice .cm-list-input:checked + .cm-list-label .slider {
  background-color: @brand-primary;
  background-color: var(--green1, @brand-primary);
}
