.container {
  background-color: @white;
  padding: 0 3rem 0 3rem;
  @media(min-width: 1400px) {
    width: 1365px;
  }
  @media(max-width: 992px) {
    width: 100%;
  }
}

h1, h2, h3, h4, h5, h6, .title {
   font-family: "Big Shoulders Text";
}

.title {
  font-size: 1.5rem;
}


.facet-group .title, .facet {
  padding: 0.4rem 0.4rem 0.4rem 1rem;  
  font-weight: normal;
}

/** Searchbar/-box ***/

.well {
    background-color: @lightgrey;
    text-align: left;
    min-width: 240px;
    //box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.28);
    border: 1px solid @btn-default-border;
}

#advanced {
  padding-left: 0px;
}

#searchSubmit {
  margin-right: 12px;
}

.twitter-typeahead {
  min-width: 50%;
}

.adv_search_links {
  margin: 0px;
}

/* Tabs */
.tab-content {
  padding: 10px 0px;
}

.feedback-content {
  padding: 10px 15px;
}

/* SEARCH_TABS */
.loader {
  display: none;
}

ul.nav-tabs li:not(.active) a:hover .loader {
    display: inline;
    float: left;
    margin-right: 5px;
    border: 3px solid @lightgrey;
    border-top: 3px solid @brand-primary;
    width: 15px;
    height: 15px;
    animation: spin 1s linear infinite;
}

.nav li a:hover {
  background-color: #004393;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* FOOTER */
footer {
  background-color: @brand-primary;
  color: #fff;
  padding-top: 0px;
  ul {
    padding-left: 0px;
    list-style-type: none;
  }
}

.footer-container {
    padding: 15px;
    .footer-column {
      padding-left: 10px;
      flex-basis: 17%;
      figure {
        margin: 0.8em;
      }
    }
    a {
      color: #fff;
    }
    .flexshrink {
      padding-left: 10px;
      flex-basis: 14%;
    }
}

/* FACETS */
.fa-info-circle {
  padding: 3px 10px 0px 3px;
}

.checkbox-filters {
  display: inline;
  margin-bottom: 9px;
  label input[type="checkbox"] {
    margin-top: 0px;
    margin-bottom: 6px;
    vertical-align: middle;
  }
}

a.facet {
  span.text {
    word-break: break-all;
  }
}

.facet .text {
  align-items: baseline;
}

.facet-loading-overlay {
  background-color: rgba(0,67,147,1);
}

/* General Layout */

body {
    background: @background-color;
    background-attachment: fixed;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;

    font-size: 1.2rem;

}

.table {
  table-layout: auto;
}

option:hover {
  background-color: #004393;
}

.media-left {
  padding-right: 2rem;
  padding-top: 1rem;
}

ol.record-list > li.result:not(.last) {
  .media {
    border-bottom: 1px solid @btn-default-border;
    padding: 0 0 1rem 1.5rem;
    min-height: 150px;
  }
}

.iconPlaceholder {
  width: 75px;
  height: 80%;
  border: 1px solid grey;
  margin-right: 2rem;
}

#content {
  background-color: #fff;
  padding: 0rem 3rem;
}

.badge {
    color: @grey;
    border: 1px solid @grey;
    background-color: @white;
    font-size: inherit;
    border-radius: 0;
}

.facet .badge {  
  max-height: inherit;
}

a.badge-secondary {
  color: @grey;
  border: 1px solid @grey;
  &:hover {
    color: @darkprimary-color;
    text-decoration: underline;
  }
}

.label {
  background-color: @grey;
}

.result .format {
  padding: .3rem;
  border-radius: 0;
  border: 1px solid @grey;
  background-color: #fff;
  color: @grey;
  font-size: smaller;
}

.result-formats {
  margin: 0.5rem 0;
}

.result-body {
  width: 90%;
}

.result .media-right {
  margin-left: 1rem;
  padding-left: 0;
}

.media-body-right {
  min-width: 30%;
  width: 30%;
  display: block;
  @media(max-width: 767px) {
    width: 100%;
  }
}

.record .media-right {
  &.medium {
    width: 100%;
  }
  &.img-col {
    padding-left: 0px;
    padding-bottom: 3rem;
  }
  @media(max-width: 767px) {
    max-width: 100%;
  }
}

.external-icon {
  height: 1.5rem;
  min-width: 1.5rem;
}

.provider {
  order: 3;
  border: 1px solid @brand-primary;
  padding: 0 1rem;
  margin-bottom: 3rem;
}

a[target="_blank"]:after {
    font-family: FontAwesome;
    content: "\f08e";
    display: inline-block;
    padding-left: 7px;
}

.Platzhalter {
  background-color: @lightgrey;
  height: 15rem;
  padding-bottom: 2rem;
}

.highlight,
mark {
  background: @highlighter-color;
}

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-color: lightgray;
}

.record-nav {
  float: right;
}

div#accordion .panel-collapse {
  padding: 15px 20px 10px 20px;
  img {
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
  }
}

.info {
  overflow: hidden;
  img {
    float: left;
    margin-right: 20px;
  }
}

/* Homepage Layout */
.searchHomeContent {
  overflow: hidden;
  margin-top: 5em;

  #coop {
    margin-top: 2rem;
    margin-left: 2rem;
  }
}

/* Lightbox Layout */
/*h2.providerbox {
  color: @brand-primary;
}*/

div.card {
  border: 1px solid @btn-default-border;
  padding: 15px 20px 20px 20px;
  margin-bottom: 20px;
  h2, h3 {
    margin-top: 0px;
  }
}

a[target="_blank"].no-symbol::after {
  display: none;
}

div.flexing {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  .item {
    flex-basis: 49%;
  }
  .itemleft {
    flex-basis: 40%;
    margin-right: 20px;
  }
  &.left {
    justify-content: left;
  }
  &.center {
    align-items: center;
    justify-content: flex-start;
    figure {
      margin: 1em 2em;
    }
  }
}

div.flex-content {
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
  &.flex-between {
    justify-content: space-between;
  }
  &.flex-start {
    padding-right: 10px;
    justify-content: flex-start;
  }
  .authority-meta {
    flex: 0 1 405px;
    padding: 15px;
    &.thumb {
      max-width: 270px;
      padding: 15px 15px 15px 0px;
    }

    .publications {
      padding-left: 20px;
    }
    h4 {
      margin-top: 0px;
    }
  }
}

/* Detailed Record View */
.mainbody.solo {
  clear: right;
  .media {
    padding: 10px 0px 20px 0px;
  }
  .medium > a {
    width: 100%;
  }
}

.record .media-body {
  min-width: 60%;
}

.record .media {
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  gap: 4rem;
}

/* Toggle MORE/LESS without js */
span.toggleContainer {
  .toggle {
    display:none;
  }
  .toggle ~ span {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
    br {
      display: none;
    }
  }
  .toggle:checked ~ span {
    opacity: 1;
    font-size: inherit;
    max-height: 300px;
    br {
      display: inline;
    }
  }

  .toggle ~ label.label_de:before {
    content: 'Mehr anzeigen';
  }

  .toggle:checked ~ label.label_de:before {
    content: 'Weniger anzeigen';
  }

  .toggle ~ label.label_en:before {
    content: 'Show more';
  }

  .toggle:checked ~ label.label_en:before {
    content: 'Show less';
  }

  label {
    display: inline-block;
    font-size: 80%;
    color: @brand-primary;
    cursor: pointer;
  }
}

/* Data View */
th.edm-tag, td.edm-tag {
  color: @brand-primary;
}

div.edm-attr {
  color: DarkOrange;
}

div.breaking {
  word-break:break-all;
}

/* TRAILER */
video {
  width: 75% !important;
  height: auto !important;
}

div#trailer-container {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

/* License Frame */
iframe#fid-license-frame {
  width: 100%;
  height: 100%;
  min-height: 700px;
}

/* Maps */
#theatremap {
  height: 700px;
}

figcaption {
  font-size: smaller;
  text-align: center;
  padding: 1rem 0 0 0;
}
